body {
    font-family: Helvetica, serif;
    padding: 0 5em 2em 5em;
}

header.main {
    display: flex;
}

.index header.main h1 {
    margin: 0;
    width: 60%
}

label {
    background: #b6b6b6;
    color: #FFF;
    margin: 0 .2em .2em 0;
    padding: .2em;
    border-radius: .3em;
    display: inline-block;
    cursor: pointer;
}

a {
    color: #46C016;
    text-decoration: none;
}

.content {
    display: none;
}
.content.active {
    display: block;
    margin-bottom: 1.5em;
}
.content p:first-child {
    margin-top: .2em;
}

article.hidden {
    display: none;
}

article p {
    text-align: justify;
}

.heading {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    cursor: pointer;
    margin: 1em 0 0 0;
}

.heading h2 {
    display: inline-block;
    -webkit-box-ordinal-group: 3;
    -moz-box-ordinal-group: 3;
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3;
    font-size: 1.1em;
    margin: 0 0 0 auto;
    text-align: right;
    max-width: 30%;
}

.heading h1 {
    display: inline-block;
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
    font-size: 1.1em;
    margin: 0;
    max-width: 57%;
}

.heading h3 {
    display: inline-block;
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
    font-size: 1.1em;
    margin: 0;
    padding-right: 2em;
}

.page-link {
    align-self: center;
    font-size: 1.4em;
    font-weight: bold;
}

.about .page-link {
    margin-left: auto;
    height: initial;
}

@media only screen and (max-width: 768px) {
    body {
        padding: 0 1em 2em 1em;
    }
    .heading h3 {
        padding-right: .5em;
    }
}
